@use '../mixins.scss' as *;

.frame.matches {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    .matches__no-data {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--white);

      width: 100%;
      height: 100%;

      opacity: 0.5;
    }

    .last-match,
    .matches {
      width: 100%;
    }

    .last-match {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 0 8px;

      .title {
        font-size: 14px;
        line-height: 14px;
        color: var(--white);

        .last {
          font-size: 23px;
        }
      }

      .match {
        flex-direction: row;

        &__stats {
          .pings {
            justify-content: flex-start;

            .bait {
              margin-left: 0;
            }
          }
        }
      }
    }

    .matches {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4px 8px;

      height: 100%;
    }
  }
}
