@use '../mixins.scss' as *;

.frame.matches {
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .last-match {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 8px;

      .title {
        font-size: 14px;
        line-height: 13px;
        color: var(--white);

        .last {
          font-size: 23px;
        }
      }

      .match {
        flex-direction: row;

        &__stats {
          .pings {
            justify-content: flex-start;

            .bait {
              margin-left: 0;
            }
          }
        }
      }
    }

    .matches {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px 8px;
    }
  }
}
