.frame.matches {
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .last-match {
    display: flex;
    justify-content: center;
    gap: 0 8px;

    align-items: center;

    height: 100%;

    .title {
      font-size: 14px;
      line-height: 13px;
      color: var(--white);

      .last {
        font-size: 23px;
      }
    }

    .match {
      flex-direction: row;
      gap: 0 8px;

      .champion {
        @include strict_size(45px, 45px);
      }

      .stats {
        font-size: 16px;
      }

      .pings {
        img {
          @include strict_size(12px, 12px);
        }

        p {
          font-size: 16px;
          line-height: 1px;
        }
      }
    }
  }

  .matches {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 4px 8px;

    .match {
      min-width: 39px;

      .pings {
        position: relative;

        justify-content: center;

        img {
          @include strict_size(7px, 7px);
          margin-left: -10px;
        }
      }
    }
  }
}

.frame.session {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .session-title,
    .win-total-loss-stats {
      padding: 0 4px;
    }

    .session-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: {
        bottom: 4px;
      }

      &__text {
        color: var(--white);
      }

      &__score {
        &.loss {
          color: var(--red600);
        }

        &.win {
          color: var(--green);
        }
      }
    }

    .session-matches {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px 8px;
    }

    .win-total-loss-stats {
      margin: {
        bottom: 2px;
      }
    }
  }
}

.frame.issue {
  .content {
    display: flex;
    flex-direction: column;

    .text {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      p {
        text-align: center;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 8px;

      svg {
        @include strict_size(24px, 24px);
      }

      p {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}
